fastapi
uvicorn
pandas
langchain
langchain-community
langchain-huggingface
faiss-cpu
torch
transformers
accelerate
bitsandbytes
python-multipart
httpx
streamlit
pyngrok
rouge-score
sentence-transformers
