# Core API
# Core API
fastapi==0.110.0
starlette==0.36.3
httpx==0.24.1
uvicorn==0.27.1
python-multipart==0.0.9

# Torch + YOLO
numpy<2
torch==2.2.2
torchvision==0.17.2
ultralytics==8.3.0
opencv-python-headless==4.9.0.80

# Embeddings + NLP
sentence-transformers==2.2.2
transformers==4.41.2  
accelerate==0.25.0
safetensors==0.4.2
huggingface-hub==0.33.4

# Vector DB + RAG
faiss-cpu==1.7.4
langchain
langchain-core
langchain-community
langchain-huggingface==1.1.0

# AWS S3
boto3==1.34.70

# Monitoring
prometheus-client==0.20.0
starlette-prometheus==0.10.0
